version: "3"
services:
  postgis:
    image: postgis/postgis
    ports:
      - 5432:5432
    environment:
      POSTGRES_DB: cameras
      POSTGRES_PASSWORD: cameras
      POSTGRES_HOST_AUTH_METHOD: trust
    volumes:
      - db_data:/var/lib/postgresql/data

  nextjs:
    build:
      context: ./nextjs
    volumes:
      - ./nextjs:/app
    ports:
      - 3000:3000
      - 5555:5555
    depends_on:
      - postgis

  flask:
    build:
      context: ./python
    volumes:
      - ./python:/app
    ports:
      - 5000:5000
    depends_on:
      - postgis
    command: ["python", "app.py", "--mode=flask"]

  detector:
    build:
      context: ./python
    volumes:
      - ./python:/app
    ports:
      - 5000:5000
    depends_on:
      - postgis
    command: ["python", "app.py", "--mode=detector"]

  haproxy:
    image: haproxy:latest
    volumes:
      - ./haproxy/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg
    ports:
      - 80:80
    depends_on:
      - nextjs
      - flask

  redis:
    image: redis:latest
    ports:
      - 6379:6379

volumes:
  db_data:
